/*typographic styles*/
.content-header {
    font-family: 'Roboto Slab', serif;
}
/*custom header styles*/
.left-space {
    margin-left: 70px;
}
.right-space {
    margin-right: 70px;
}
#dropdown1 li a:hover {
    background-color: #f5f5f5;
}
.more-list {
    margin-top: 64px;
}
/*block of study cards*/
.subject-page-cards-wrap{
  width:96%;
  margin-left:4%;
}
.first-study-line {
    margin-top: 100px;
}
.col .card-inner-width {
  width:350px;
}
.card-item {
    width: 350px;
    font-family: "Roboto Slab";
    font-size: 19px;
 }
.card-image img {
    height: 200px;

}
.height-fixed-card {
  min-height:180px;
  height:180px;
}
